---
http_interactions:
- request:
    method: get
    uri: http://api.jotform.com/v1/user?apiKey=<apiKey>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 27 Aug 2013 14:52:05 GMT
      X-Form-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"responseCode":200,"message":"success","content":{"username":"filp","name":null,"email":"dobreira@gmail.com","website":null,"time_zone":null,"account_type":"http:\/\/api.jotform.com\/system\/plan\/FREE","status":"ACTIVE","created_at":"2013-08-21
        15:48:42","updated_at":"2013-08-27 05:25:28","usage":"http:\/\/api.jotform.com\/user\/usage","avatarURL":"http:\/\/www.gravatar.com\/avatar\/ab10f7908233dc830c5ece2a02154806?s=50&d=identicon"},"limit-left":996}'
  recorded_at: Tue, 27 Aug 2013 14:52:05 GMT
recorded_with: VCR 2.5.0
