---
http_interactions:
- request:
    method: get
    uri: http://api.jotform.com/v1/user/reports?apiKey=<apiKey>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 27 Aug 2013 09:32:40 GMT
      X-Form-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"responseCode":200,"message":"success","content":[{"id":"32381989354062","form_id":"32382056214851","title":"Excel
        Report","fields":"ip,dt,4","list_type":"excel","status":"ENABLED","url":"http:\/\/www.jotform.com\/excel\/32381989354062","isProtected":false,"settings":"","created_at":"2013-08-27
        05:28:35","updated_at":null}],"limit-left":1000}'
  recorded_at: Tue, 27 Aug 2013 09:32:40 GMT
recorded_with: VCR 2.5.0
