---
http_interactions:
- request:
    method: get
    uri: http://api.jotform.com/v1/user/usage?apiKey=<apiKey>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 27 Aug 2013 09:39:46 GMT
      X-Form-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"responseCode":200,"message":"success","content":{"submissions":"2","ssl_submissions":"0","payments":"0","uploads":"0"},"limit-left":999}'
  recorded_at: Tue, 27 Aug 2013 09:39:46 GMT
recorded_with: VCR 2.5.0
